{
  "env": { "jest/globals": true },
  "extends": ["plugin:jest/recommended", "standard", "standard-jsx"],
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "rules": { "arrow-parens": ["error", "always"] }
}
